<div class="container">
		<div class="row-fluid">
			<div class="span12 content">
				<h2>{{ name.postTitle }}</h2>
			</div>
		</div>
		<div class="row-fluid">
		
<div class="span6 content block-login">
	<div class="fb-user-login"><a href="#" class="AWD_facebook_connect_button" data-redirect="http://brandissime.preproduction.fr"><img border="0" src="http://brandissime.com/img/fb_connect.png" alt="Login"></a></div>
<script src="http://brandissime.preproduction.fr/wp-includes/js/jquery/jquery.js?ver=1.7.2" type="text/javascript"></script>
<script src="http://brandissime.preproduction.fr/wp-content/plugins/wp-e-commerce/wpsc-core/js/wp-e-commerce.js?ver=3.8.9.618697" type="text/javascript"></script>
<script src="http://brandissime.preproduction.fr/wp-content/plugins/wp-e-commerce/wpsc-core/js/jquery.infieldlabel.min.js?ver=3.8.9.618697" type="text/javascript"></script>
<script src="http://brandissime.preproduction.fr/wp-content/plugins/wp-e-commerce/wpsc-core/js/ajax.js?ver=3.8.9.618697" type="text/javascript"></script>
<script type="text/javascript">
/* &lt;![CDATA[ */
var wpsc_ajax = {"ajaxurl":"http:\/\/brandissime.preproduction.fr\/wp-admin\/admin-ajax.php","spinner":"http:\/\/brandissime.preproduction.fr\/wp-admin\/images\/wpspin_light.gif","no_quotes":"It appears that there are no shipping quotes for the shipping information provided.  Please check the information and try again."};
/* ]]&gt; */
</script>
<script src="http://brandissime.preproduction.fr/index.php?wpsc_user_dynamic_js=true&amp;ver=3.8.9.618697" type="text/javascript"></script>
<script src="http://brandissime.preproduction.fr/wp-content/plugins/wp-e-commerce/wpsc-admin/js/jquery.livequery.js?ver=1.0.3" type="text/javascript"></script>
<script src="http://brandissime.preproduction.fr/wp-content/plugins/wp-e-commerce/wpsc-core/js/user.js?ver=3.8.9618697" type="text/javascript"></script>
<script src="http://brandissime.preproduction.fr/wp-content/plugins/wp-e-commerce/wpsc-core/js/thickbox.js?ver=Instinct_e-commerce" type="text/javascript"></script>
<script src="http://brandissime.preproduction.fr/wp-includes/js/comment-reply.js?ver=3.4.2" type="text/javascript"></script>
<meta content="noindex,nofollow" name="robots">

	<form method="post" action="http://brandissime.preproduction.fr/je-me-connecte-ici/" id="loginform" name="loginform">
	<p>
		<label for="user_login">Identifiant<br>
		<input type="text" tabindex="10" size="20" value="" class="input" id="user_login" name="log"></label>
	</p>
	<p>
		<label for="user_pass">Mot de passe<br>
		<input type="password" tabindex="20" size="20" value="" class="input" id="user_pass" name="pwd"></label>
								<a href="http://brandissime.preproduction.fr/wp-login.php?action=lostpassword" class="lost-password cboxElement">Mot de passe oublié&nbsp;?</a>
							</p>

	<p class="forgetmenot"><label for="rememberme"><input type="checkbox" tabindex="90" value="forever" id="rememberme" name="rememberme"> Se souvenir de moi</label></p>
	<p class="submit">
		<input type="submit" tabindex="100" value="Se connecter" class="btn input-xlarge cart_widget_button button-primary" id="wp-submit" name="wp-submit">
		<input type="hidden" value="http://brandissime.preproduction.fr/wp-admin/" name="redirect_to">
		<input type="hidden" value="1" name="testcookie">
	</p>
</form>




</div>
<div class="span6 content block-register"> <meta content="noindex,nofollow" name="robots">
<h3>Créer un compte</h3><p class="message register">L'inscription est simmple et rapide. Remplissez le formulaire ci-dessous et votre compte sera immédiatement créé.</p><h4>Informations du compte</h4>

<form method="post" action="#" id="registerform" name="registerform">
	<p>
		<label for="user_register_login">Identifiant<br>
		<input type="text" tabindex="110" size="20" value="" class="input" id="user_register_login" name="user_login"></label>
	</p>
	<p>
		<label for="user_register_email">E-mail<br>
		<input type="email" tabindex="120" size="25" value="" class="input" id="user_register_email" name="user_email"></label>
	</p>
	<p id="reg_passmail">Un mot de passe vous sera envoyé sur votre adresse de messagerie.</p>
	<br class="clear">
	<input type="hidden" value="" name="redirect_to">
	<p class="submit"><input type="submit" tabindex="200" value="Inscription" class="btn input-xlarge cart_widget_button button-primary" id="wp-submit" name="wp-submit"></p>
</form>

</div>


		</div>
	</div>